/* src/app/styles/card.module.css */

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra */
  padding: 15px; /* Reduzindo o padding */
  text-align: center;
  margin-bottom: 20px; /* Aumentando a margem inferior */
  transition: all 0.3s ease; /* Transição suave */
  width: calc(25% - 20px); /* Distribui os cards em quatro colunas */
  flex: 0 0 calc(25% - 20px); /* Distribui os cards em quatro colunas */
  max-width: calc(25% - 20px); /* Limita a largura dos cards */
}

.card:hover {
  transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
}

.card img {
  width: 80%; /* Diminuindo o tamanho da imagem */
  height: auto; /* Ajusta a altura automaticamente */
  object-fit: cover; /* Isso garante que a imagem preencha o espaço, mantendo a proporção */
  border-radius: 10px 10px 0 0; /* Arredondando apenas as bordas superiores */
}

.card h3 {
  margin-top: 15px; /* Reduzindo a margem superior */
  font-size: 1.2rem; /* Reduzindo o tamanho da fonte */
  font-weight: bold;
  font-family: 'Poppins', sans-serif; /* Nova fonte */
}

.card p {
  margin-bottom: 10px; /* Adicionando margem inferior ao parágrafo */
}

/* Adicionando uma classe para definir a largura máxima dos cards */
@media (max-width: 768px) {
  .card {
    
    flex: 0 0 calc(50% - 20px); /* Distribui os cards em duas colunas em telas menores */
    max-width: calc(50% - 20px); /* Limita a largura dos cards em telas menores */
  }
  .card img{
    width: 100%; /* Diminuindo o tamanho da imagem */
  }
}
