/* src/app/components/footer.module.css */

.footerContainer {
  background-color: #f2f2f2;
  bottom: 0;
  width: 100%;
}


.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
}

.contactInfo {
  display: flex;
  align-items: center;
  margin-top: 6px; 
}

.contactInfo a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}

.emailLink {
  margin-top: 6px; /* Move o link de e-mail para baixo */
  
}


.footerText {
  font-size: 16px;
  color: #333;
  margin-bottom: 6px; /* Move o texto dos direitos reservados para baixo */
}

.footerText strong {
  font-weight: bold;
}
  
.fade{
  opacity: 0;
  visibility: visible; 
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-fill-mode: forwards; 
}
@media (max-width: 768px) {
  .footerContent {
   justify-content: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible; 
  }
  to {
    opacity: 1;
  }
}