.footerContainer {
  background-color: #f2f2f2;
  width: 100%;
  
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactInfo {
  display: flex;
  align-items: center;
}

.contactInfo a {
  color: #333;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}

/* Adicione estas regras no arquivo footer.module.css */

/* Estilo para o cursor mudar ao passar sobre o texto */
.footerText span:hover {
  cursor: pointer;
  
}


/* Estilo para mostrar "Samuel" quando o mouse passa sobre "mim" */
.footerText span:hover:after {
  content: " Samuel"; /* Adiciona "Samuel" após "Desenvolvido por" */
  transition: color 0.8s ease; /* Transição suave da cor do texto */
}

/* Adicione estas regras no arquivo footer.module.css */

/* Estilo para o cursor mudar ao passar sobre o texto */
.footerText span {
  transition: color 0.8s ease; /* Transição suave da cor do texto */
}

/* Estilo para mudar a cor do texto quando o mouse passa sobre ele */
.footerText span:hover {
  color: #201236; /* Altera a cor do texto para vermelho */
  
}


.footerText {
  font-size: 16px;
  color: #333;
}

.footerText strong {
  font-weight: bold;
}
  
.fade{
  opacity: 0;
  visibility: visible; 
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-fill-mode: forwards; 
}
@media (max-width: 768px) {
  .footerContent {
   justify-content: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible; 
  }
  to {
    opacity: 1;
  }
}