/* src/app/components/menu.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navItem {
    margin-right: 20px;
  }
  
  .navLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #8f8f8f;
  }
  
  .logo {
    flex-shrink: 0;
  }
  