/* Footer.css */

.footer {
  background-color: #f2f2f2; /* Fundo acinzentado claro */
  padding: 20px;
}

.footerContent {
  display: flex;
  justify-content: space-between; /* Alinhamento dos itens para ocupar toda a largura */
  align-items: center; /* Alinhar verticalmente */
}

.email {
  text-align: right; /* Alinhar o texto à direita */
}
