/* src/app/components/menu.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    margin-bottom: 20px; /* Adiciona espaçamento inferior */
  }
  
  /* src/app/registro/registro.module.css */
  
  .registrocontainer {
    max-width: 400px;
    margin: 20px auto; /* Adiciona espaçamento superior */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .registrocontainer h1 {
    text-align: center;
    color: #333;
  }
  
  .registroform {
    margin-top: 20px; /* Adiciona espaçamento entre o título e o formulário */
  }
  
  .formgroup {
    margin-bottom: 15px;
  }
  
  .formgroup label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .formgroup input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease;
  }
  
  .formgroup input:focus {
    border-color: #007bff;
    outline: none;
  }
    
  
  .buttonRegister[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonRegister[type="submit"]:hover {
    background-color: #515558;
  }
  
  
  .fade{
    opacity: 0;
    visibility: visible; 
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      visibility: visible; 
    }
    to {
      opacity: 1;
    }
  }